<div class="container-fluid"  >
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Car  <b>Parts</b></h2>
                </div>
                
                
                <div class="col-sm-3">
                    
                    

                <!-- 	<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>	 -->					
                </div>
                <div class="col-sm-3" >
                    <a class="btn btn-warning" ng-click="declareLack()" ><i class="material-icons">&#xE22B;</i> <span> Declare a lack </span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" ng-controller="carCtrl" ng-init="getAllCars()">
            <thead>
                <tr>
                    <!-- <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th> -->
                      
                      <th>Model</th>
                    <th>Wheel</th>
                    <th>Seat</th>
                    <th>Mirror</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr  ng-repeat=" c in cars ">
                    <!-- <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkboxkbox1"></label>
                        </span>
                    </td> -->
                    <td >{{ c.model.name+'/'+c.model.year }}</td>						
                    <td ng-if=" c.wheel.current ==  c.wheel.min" class="danger">{{ c.wheel.current+'/'+c.wheel.max }}</td>
                    <td ng-if=" c.wheel.current <  c.wheel.max/2  &&  c.wheel.current >  c.wheel.min" class="warning">{{ c.wheel.current+'/'+c.wheel.max }}</td>
                    <td ng-if=" c.wheel.current <=  c.wheel.max  &&  c.wheel.current >=  c.wheel.max/2" class="success">{{ c.wheel.current+'/'+c.wheel.max }}</td>

                    <td ng-if=" c.seat.current ==  c.seat.min" class="danger">{{ c.seat.current+'/'+c.seat.max }}</td>
                    <td ng-if="  c.seat.current <  c.seat.max/2  &&  c.seat.current >  c.seat.min" class="warning">{{ c.seat.current+'/'+c.seat.max }}</td>
                    <td ng-if=" c.seat.current <=  c.seat.max  &&  c.seat.current >=  c.seat.max/2" class="success">{{ c.seat.current+'/'+c.seat.max }}</td>
                    
                    <td ng-if=" c.mirror.current ==  c.mirror.min" class="danger">{{ c.mirror.current+'/'+c.seat.max }}</td>
                    <td ng-if=" c.mirror.current <  c.mirror.max/2  &&  c.mirror.current >  c.mirror.min" class="warning">{{ c.mirror.current+'/'+c.seat.max }}</td>
                    <td ng-if=" c.mirror.current <=  c.mirror.max  &&  c.mirror.current >=  c.mirror.max/2" class="success">{{ c.mirror.current+'/'+c.seat.max }}</td>
                    <td>
                       <!--  <a href="#editEmployeeModal" class="edit"  ng-click="loadIncid(i,$index)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a> -->
                       <a  data-target="#addEmployeeModal" class="btn btn-success"  ng-click="loadCarModel(c.model)"  style="color: #FFF" data-toggle="modal"><i style="position: relative;top:5px;" class="material-icons">&#xE147;</i> <span> Add an Order </span></a>
                       
                    </td>
                </tr>
               
            </tbody>
        </table>

        
        <!-- <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div> -->
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade"  ng-controller="orderCtrl" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Add an order</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    
                    <div   class="form-group">
                        <label>Wheel</label>
                        <select class="form-control" ng-model="nbrWheel">
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div   class="form-group">
                        <label>Seat</label>
                        <select class="form-control" ng-model="nbrSeat">
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div   class="form-group">
                        <label>Mirror</label>
                        <select class="form-control" ng-model="nbrMirror">
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    
                                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Clear" ng-click="clearNbrOrders()" >
                    <input type="submit" class="btn btn-success" data-dismiss="modal" ng-click="createUndoneOrders()" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

